.input{
    display: flex;
    width: 95%;
    position: relative; /* because we need to put button inside the input box*/
    align-items: center;
}

.input__box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
  }

  /*When click on the input field, background turns dark */
  .input__box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
  }

  /* Go button */
  .input_submit {
    position: absolute; /*position inside the input field*/
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px; /*align to the right*/
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color: #823329;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
  }

  .input_submit:hover {
    background-color: #A4564C;
  }

  /*Click Animation*/
  .input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
  }

  /* TodoList.tsx: Two side styling for completed and active tasks container */
  .container{
    display: flex;
    width: 95%;
    margin-top: 10px;
    align-items: flex-start;
    justify-content: space-between;
  }

  /* Make the the todo items are wrapped in its own line*/
  .todos {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 47.5%;
    padding: 15px;
    background-color:#CFD2B2; /* pearl green */
  }

  .remove{
    background-color: #BFBAB1; /*silver for the completed tasks background*/
  }

  .dragactive {
    background-color: #C3C6AB; /* darker pearl green */
  }

  .todos__heading {
    font-size:30px;
  }
/* Style SingleTodo Card */
  .todos__single {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-image: url("https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-41740.jpg?w=826&t=st=1691265558~exp=1691266158~hmac=1228952acd1f51ca1f13f82e82dfa838bd60884fcf552bc65314b8219e91a38d");
    transition: 0.2s;
  }

  .todos__single:hover{
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
  }
  
  .todos__single--text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
  }
  
  .icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
    right: 0px; /*align to the right*/
  }

  @media (max-width: 700px) {
    .input {
      width: 95%;
    }
    .container {
      width: 95%;
      flex-direction: column;
    }
    .todos {
      width: 95%;
      margin-bottom: 10px;
    }
  }
